header {

}

.navbar {
  border-bottom:1px solid #ccc;
  font-size: 14px;
  background-color: #f0ffd4;
  font-family: sans-serif;
}

.form-control {
  font-size: 14px;
  height: 30px;
}

.btn {
  font-size: 12px;
  height: 30px;
}
