<div class="container">
  <h3>List Customer</h3>
  <a [routerLink]="['/create']"><button class="btn btn-round btn-info btn-sm" *ngIf="isLogin"> <i class="material-icons">Add Customer</i></button></a>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th class="text-center" scope="col">STT</th>
      <th class="text-center" scope="col">Name</th>
      <th class="text-center" scope="col">Age</th>
      <th class="text-center" scope="col">Address</th>
      <th class="text-center" scope="col">Phone</th>
      <th class="text-center" scope="col">Application</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of data; index as i">
      <th class="text-center align-middle" scope="row">{{i+1}}</th>
      <td class="align-middle">{{customer.name}}</td>
      <td class="text-center align-middle">{{customer.age}}</td>
      <td class="align-middle">{{customer.address}}</td>
      <td class="text-center align-middle">{{customer.phone}}</td>
      <td class="td-number text-center align-middle">
        <div class="btn-group align-middle">
          <a [routerLink]="['update', customer.id]"><button class="btn btn-round btn-info btn-sm"> <i class="material-icons">edit</i> </button></a>
          <a [routerLink]="['delete', customer.id]"><button class="btn btn-round btn-info btn-sm"> <i class="material-icons">delete</i> </button></a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

